@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }

body {
    font-family: 'Work Sans', sans-serif;
  }

df-messenger {
     --df-messenger-bot-message: #124653;
     --df-messenger-button-titlebar-color: #FE8D8F;
     --df-messenger-chat-background-color: #fafafa;
     --df-messenger-font-color: white;
     --df-messenger-send-icon: #FE8D8F;
     --df-messenger-user-message: #FE8D8F;
 }
